   Download the Board Games SQLite database (Links to an external site.) from Kaggle. Then in Jupyter Notebook, read in the data for each table. Use code to show the number of rows and columns for each table in the database. Upload the notebook with this information to your Github profile and submit the URL.

In [1]:
import pandas as pd
import sqlalchemy as db
from sqlalchemy import create_engine,inspect

In [2]:
db_file = r'boardgames.sqlite'

# set the connection to SQLite database in a variable
# argument is usually a string that indicates database dialect
# where dialect is a database name such as mysql, oracle, postgresql, etc.
# To start workin with SQLAlchemy, the first thing  is 
# create an Engine. The Engine is how SQLAlchemy communicates with your database, 
# so, when creating the Engine you should add your database (db) URL and thatâ€™s basically it.
engine = create_engine(f"sqlite:///{db_file}")

In [3]:
engine.table_names()

['BoardGames',
 'bgg.ldaOut.top.documents',
 'bgg.ldaOut.top.terms',
 'bgg.ldaOut.topics',
 'bgg.topics']

In [5]:
inspector=inspect(engine)

In [10]:
field1=inspector.get_columns('BoardGames')
board_gamedf=pd.DataFrame.from_dict(field1)
board_gamedf.head()

  autoincrement default                 name  nullable  primary_key  type
0          auto    None            row_names      True            0  TEXT
1          auto    None              game.id      True            0  TEXT
2          auto    None            game.type      True            0  TEXT
3          auto    None  details.description      True            0  TEXT
4          auto    None        details.image      True            0  TEXT

In [ ]:
#board game has 81 columns

In [12]:
connection = engine.connect()

In [13]:
sql_boardgame='Select * from BoardGames;'
Result_boardgame = connection.execute(sql_boardgame).fetchall()
df_bg=pd.DataFrame(Result_boardgame)
df_bg.columns=Result_boardgame[0].keys()
df_bg.head()

,row_names,game.id,game.type,details.description,details.image,details.maxplayers,details.maxplaytime,details.minage,details.minplayers,details.minplaytime,...,stats.family.arcade.bayesaverage,stats.family.arcade.pos,stats.family.atarist.bayesaverage,stats.family.atarist.pos,stats.family.commodore64.bayesaverage,stats.family.commodore64.pos,stats.subtype.rpgitem.bayesaverage,stats.subtype.rpgitem.pos,stats.subtype.videogame.bayesaverage,stats.subtype.videogame.pos
0,1,1,boardgame,Die Macher is a game about seven sequential po...,//cf.geekdo-images.com/images/pic159509.jpg,5.0,240.0,14.0,3.0,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2,boardgame,Dragonmaster is a trick-taking card game based...,//cf.geekdo-images.com/images/pic184174.jpg,4.0,30.0,12.0,3.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,3,boardgame,"Part of the Knizia tile-laying trilogy, Samura...",//cf.geekdo-images.com/images/pic3211873.jpg,4.0,60.0,10.0,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,4,boardgame,When you see the triangular box and the luxuri...,//cf.geekdo-images.com/images/pic285299.jpg,4.0,60.0,12.0,2.0,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,5,boardgame,"In Acquire, each player strategically invests ...",//cf.geekdo-images.com/images/pic342163.jpg,6.0,90.0,12.0,3.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_bg.shape

(90400, 81)

In [ ]:
#90400 rows and 81 columns in Board GAMES Table

In [18]:
field2=inspector.get_columns('bgg.ldaOut.top.documents')
board_gamedf=pd.DataFrame.from_dict(field2)
board_gamedf.head()

  autoincrement default       name  nullable  primary_key     type
0          auto    None  row_names      True            0     TEXT
1          auto    None   document      True            0     TEXT
2          auto    None      topic      True            0  INTEGER
3          auto    None      gamma      True            0     REAL

In [31]:
import sqlite3

In [34]:
conn = sqlite3.connect(db_file)

In [35]:
dfTables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
dfTables

                       name
0                BoardGames
1         bgg.ldaOut.topics
2      bgg.ldaOut.top.terms
3  bgg.ldaOut.top.documents
4                bgg.topics

In [38]:
df_topics = pd.read_sql_query("select *  from 'bgg.ldaOut.topics';", conn)
df_topics.head()

        row_names  topics(bgg.ldaOut)
0      Die.Macher                   8
1    Dragonmaster                   5
2         Samurai                  22
3  Tal.der.KÃ¶nige                   4
4         Acquire                   4

In [39]:
df_topics.shape

(29229, 2)

In [ ]:
#table bgg.ldaOut.topics has 29229 rows and 2 columns

In [40]:
df_terms = pd.read_sql_query("select *  from 'bgg.ldaOut.top.terms';", conn)
df_terms.head()

  row_names  topic                     term      beta
0         1      1        Bluffing.category  0.183436
1         2      1       Deduction.category  0.164224
2         3      1    Partnerships.mechanic  0.080226
3         4      1       PartyGame.category  0.066343
4         5      1  Murder.Mystery.category  0.048674

In [41]:
df_terms.shape

(250, 4)

In [ ]:
#table bgg.ldaOut.top.terms has 250 rows and 4 columns

In [42]:
df_doc = pd.read_sql_query("select *  from 'bgg.ldaOut.top.documents';", conn)
df_doc.head()
df_doc.shape

(288, 4)

In [ ]:
#table bgg.ldaOut.top.documents  has 288 rows and 4 columns

In [44]:
df_top = pd.read_sql_query("select *  from 'bgg.topics';", conn)
df_top.head()
df_top.shape

(29313, 74)

In [ ]:
#table  bgg.topics has 29313 rows and 74 columns